{% load static %}

<!-- статические файлы кладешь в папку static а потом в пути к ним пишешь {% static "messenger/(js/css)/файл какой-то.js" %} -->
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница входа</title>
    <link rel="icon" href="{% static "messenger\imgs\favicon.ico" %}" type="image/x-icon">
    <!-- подлкючаем стиль -->
    <link rel="stylesheet" href="{% static "messenger/css/login.css" %}">
</head>
<body>
    <div class="login-container">
        <h1>Вход в систему</h1>
        <div class="form-group">
            <label for="username">Имя пользователя</label>
            <input type="text" id="username" placeholder="Введите имя пользователя">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" id="password" placeholder="Введите пароль">
        </div>
        <!-- кнопка для входа -->
        <button id="login-button">Войти</button>
        <div id="error-message" class="error-message"></div>
        <div id="success-message" class="success-message"></div>
        <p class="login-link">Еще нет аккаунта? <a href="{% url "register" %}">Регистрация</a></p>
    </div>
    <!-- подлкючаем скрипт -->
    <script src="{% static "messenger/js/login.js" %}"></script>
</body>
</html>
